.footerlinks {
    color: #ffffff;
    text-decoration: none !important;
}

    .footerlinks:hover {
        color: #ffe762;
    }

#footer1 {
    background: #bab3b3;
    text-align: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

#footer2 {
    background: #663344;
}
body {
    font-family: 'Poppins', sans-serif;
}

.Banner{
    background: radial-gradient(#fff,#ffd6d6)
}
.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.col-2 {
    flex-basis: 50%;
    min-width: 600px;
}
.col-2 img{
    max-width: 100%;
    padding:  10px 0px;
    

}
.nav-item:hover {
    background-color: #fff;
    transition: 0.8s;
    border-radius: 20%;
}


.categories{
    margin: 70px 0 30px 30px;
}
.row2 {
    display: flex;
   
    flex-wrap: wrap;
    justify-content: space-around;
   
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 100%;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img {
    width: 100%;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}
.title::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
h4{
    color: #555;
    font-weight: normal;
}
.col-4 p{
  font-size: 14px;
}
.rating .fa {
    color: #ff523b;
    border-color: #ff523b;
}
.col-4:hover{
    transform: translateY(-10px);
}

.logo{
    float:left;
}

/*View products page*/
.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}
select{
    border: 3px solid #555;
    padding: 5px;
}
select:focus{
    outline:none;
}

.page-btn{
    margin: 0 auto 80px;
}
.page-btn span{
    display: inline-block;
    border: 1px solid #555;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.page-btn span:hover{
    background: #ff523b;
    color:#fff;
}